.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 1920px) 
{
    .contenedor {
        position: relative;
        display: inline-block;
        margin: 15px;
        bottom: 0px;
        left: 120px;
    }
}

@media (max-width: 1440px) 
{
    .contenedor {
        position: relative;
        display: inline-block;
        margin: 15px;
        bottom: 95px;
        left: 20px;
    }
}

@media (max-width: 1280px) 
{
    .contenedor {
        position: relative;
        display: inline-block;
        margin: 15px;
        bottom: 130px;
        left: -50px;
    }
}

/* Principio parte 1 */
#header-top{
background-color: aliceblue;
}

#header-top .wrapper{
    display: flex;
    justify-content: space-around;
    padding: 0;
    overflow: auto;
}
img.icono-correo{
    margin-top: 17px;
    height: 15px;
    width: 15px;
    
}

p.enlace-correo{
    margin-right: 54vh;
}
/* Final parte 1 */

/* Principio parte 2 */
#header-mid{
    background-color: white;
}

#header-mid .wrapper{
    padding: 0;
    overflow: auto;
}

.cuadrado{
    width: max-content;
    text-align: center;
    float: left;
}

#header-mid .wrapper h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
}

#header-mid .wrapper p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-style: italic;
}

.primer-camion1{
    float: inline-start;
    margin-top: 12px;
}

#navegacion ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
}
/* Final parte 2 */

/* Principio parte 3 */
#contenido-principal{
    padding: 0;
}

#contenido-principal .wrapper{
    display: flex;
    justify-content: center;
}

#contenido-principal .centro-coche{
    width: 220vh;
    position: relative;
}

.background-blanco{
    position: absolute;
    z-index: 1;
    background-color: rgb(255 255 255 / 40%);
    height: 555px;
    width: 370px;
    left: 122px;
}

.mini-titulo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: #d50000;
}

.parrafo1{
    margin: 0 10px;
}

.button1{
    display: flex;
    justify-content: flex-end;
    margin-right: 7vh;
    margin-top: 10px;
}

.button1 .boton-rojo1{
    background-color: red;
    border: none;
    padding: 10px;
    color: white;
}
/* Final parte 3 */

/* Principio parte 4 */

#contenido-segundario{
    background-color: rgb(0, 247, 255);
    display: flex;
}

#contenido-segundario .wrapper{
    padding: 0;
    overflow: hidden;
}

.parte1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: max-content;
    line-height: 8px;
}
.parte2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-style: italic;
    width: max-content;
}

.button2{
    display: flex;
    justify-content: flex-end;
    margin-right: 35vh;
}

.button2 .boton-rojo2{
    background-color: #c10000;
    border: none;
    padding: 12px;
    color: white;
    margin: 12px 0;
}

/* Final parte 4 */

/* Principio parte 5 */
#contenido-tercero{
    background-color: white;
}

#contenido-tercero .wrapper{
    padding: 0;
    overflow: hidden;
}

#contenido-tercero .wrapper div{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: black;
}

.background1{
    background-color: rgb(60, 179, 184);
}

.background1 p{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    text-align: center;
    width: 100vh;
} 

.background2{
    background-color: white;
}

.background2 div{
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caja1 h5{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.caja1 p{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:25vh;
    line-height: 20px;
}

/* Final parte 5 */

/* Principio parte 6 */

#contenido-cuarto{
    background-color: rgb(224, 224, 224);
    padding-bottom: 20px;
}

#contenido-cuarto .wrapper{
    padding: 0;
    overflow: hidden;
}

#contenido-cuarto .wrapper h3{
    text-align: center;
    font-size: 3vh ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fila1-coches p{
    text-align: center;
    background-color: grey;
    margin: 0;
}

.fila2-coches p{
    text-align: center;
    background-color: grey;
    margin: 0;
}

.fila1-coches{ 
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.fila2-coches{ 
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.fila1-coches img{
    padding: 0;
    width: 26vh;
}

.fila2-coches img{
    padding: 0;
    width: 26vh;
}

/* Final parte 6  */

/* Principio parte 7 */

#contenido-quinto{
    background-color: white;
}

#contenido-quinto .wrapper{
    padding: 0;
    overflow: hidden;
}
div .h3{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-bottom: 10px;
}

form.alguna-duda div{
    width: 500px;
    margin-bottom: 10px;
}

#nombre{
    box-sizing: content-box;
    padding: 10px 0px 10px 0px;
    width: 454px;
}

#asunto{
    box-sizing: content-box;
    padding: 10px 0px 10px 0px;
    width: 454px;
}

#opinion{
    box-sizing: content-box;
    height: 100px;
    width: 454px;
}

.button3{
    display: flex;
    justify-content: end;
    margin-right: 55px;   
}
