#main{width: 600px; margin: 0 auto;}
h1{padding-top: 20px; font-size: 22px; font-weight: bold;}
.izquierda{text-align: left;}
.centrado{text-align: center;}
.derecha{text-align: right;}
.justificado{text-align: justify;}