a{
     text-decoration: none;
}
.box{
    width: 500px;
    margin: 10px auto;
    position: relative;
    padding-top: 25px;
    padding-right: 25px;
}
.new{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.new h1{
    background-color: darkblue;
    color: white;
    font-size: 1.5em;
    line-height: 35px;
    text-indent: 10px;
}
.new .category{
    display: block;
    line-height: 50px;
    width: 50px;
    text-align: center;
    background-color: white ;
    border-radius: 25px;
    font-size: 1.5em;
    font-style: italic;
    position: absolute;
    top: 0;
    right: 0;
}