#wrapper{
    /* max-height: max-content; */
    max-width: 1000px;
    margin: 0 auto;
}
.contacto{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 5px;
}
.correo{
    display: flex;
    justify-content: space-around;
}
.icono-correo{
    width: 15px;
    margin-right: 5px;
}
.enlace-correo{
    width: min-content;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.curva{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
}
.primer-camion1{
    margin-right: 30vh;
}
.titulo-nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.navegacion{
    width: 62vh;
}
.navegacion .orden{
    display: flex;
    justify-content: space-evenly;
    width: 70vh;
}
ul.orden{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
.fondo{
    background-size: cover;
}
img.mini-coche{
    max-width: 1000px;
    position: absolute;
    margin: 0;
    padding: 0;
}
.contenedor-fondo{
    max-width: 1000px;
    overflow: hidden;
}
.background-principal{
    display: flex;
    position: relative;
    background-color: rgb(255 255 255 / 40%);
    width: 50vh;
    left: 6vh;
    padding-top: 6vh;
    padding-bottom: 120px;
}
.mini-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: red;
}
.parrafo1{
    font-size: 16px;
    color: black;
    padding-top: 20px;
    padding-left: 15px;
}
.button1{
    position: relative;
    left: 14vh;
}
.boton-rojo1{
    background-color: red;
    padding: 10px;
    color: white;
}

.background-lima{
    position: relative;
    padding: 15px;
    background-color: rgb(0, 247, 255);
    display: flex;
    justify-content: space-around;
}
.mini-cuadrado{
    width: 80vh;
    padding: 1px;
    margin: 1px;
}
p.parte1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

p.parte1 b{
    font-weight: 600;
}

p.parte2{
    font-size: 12px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

/* .button2{
    padding-top: 6px;
} */
.boton-rojo2{
    background-color: red;
    padding: 10px;
    color: white;
}

.titulo2{
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.titulo2 h4 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo2 b{
    font-weight: 600;
}

.background-celeste{
    padding: 20px;
    background-color: rgba(105, 242, 247, 0.541);
}
.parrafo2{
    position: relative;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(60, 179, 184);
}

.flex4{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
    width: 1000px;
}

.cuadro1{
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cuadro1 h5{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.cuadro1 p{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:25vh;
    line-height: 20px;
}

.cuadro2{
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cuadro2 h5{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.cuadro2 p{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 25vh;
    line-height: 20px;
}

.cuadro3{
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cuadro3 h5{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.cuadro3 p{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 25vh;
    line-height: 20px;
}
.cuadro4{
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cuadro4 h5{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.cuadro4 p{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 25vh;
    line-height: 20px;
} 

.icono-repetido{
    display: flex;
    align-items: center;
}

div.backgrounds-cotxets{
    width: 1000px;
    padding: 30px 0px 30px 0px;
    margin: 0;
    background-color: #d3d3d3;;
}

h2.cotxets1{
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.coches{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.fila1{
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.fila1 img{
    width: 26vh;
}

div.coches p{
    text-align: center;
    background-color: grey;
    padding: 5px;
    margin: 0;

}
.fila2{
    display: flex;
    width: 1000px;
    padding-top: 5px;
    justify-content: space-around;

}
.fila2 img{
    width: 26vh;
}

.recuadro-reseña{
    background-color: white;
    width: 1000px;
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: space-around;
}

.columna1{
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.columna1 h6{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-bottom: 10px;
}

form.alguna-duda div{
    width: 500px;
    margin-bottom: 10px;
}

#nombre{
    box-sizing: content-box;
    padding: 10px 0px 10px 0px;
    width: 454px;
}

#asunto{
    box-sizing: content-box;
    padding: 10px 0px 10px 0px;
    width: 454px;
}

#opinion{
    box-sizing: content-box;
    height: 100px;
    width: 454px;
}

.button3{
    display: flex;
    justify-content: end;
    margin-right: 55px;
    
}

.button-envia{
    background-color: red;
    color: white;
    padding: 8px 20px;
}

.columna2 h6{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-bottom: 10px;
}

.background-gris{
    background-color: #d3d3d3;;
    padding: 22px 15px;
    line-height: 20px;
    font-style: italic;
    font-size: 15px;
}

.primer-parrafo{
    margin-bottom: 5px;
}

.pequeño-recuadro{
    padding: 15px;
    display: flex;
}

.letra-icono{
    margin-left: 30px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    line-height: 18px;
}

hr.gris{
    background-color: grey;
    height: 10px;
}

.pie-de-pagina{
    width: 1000px;
    background-color: black;
    padding: 20px 10px ;
}
hr.linea-negra{
    height: 1px;
   color: white;
}
.background-black{
    display: flex;
}

.primera-columna{
    padding: 5px;
}

.segunda-columna{
    padding: 5px;
}

.tercera-columna{
    padding: 5px;
}

h3.pretitulo1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 25vh;
    margin-bottom: 20px;
    color: white;
} 

h3.pretitulo2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 25vh;
    margin-bottom: 20px;
    color: white;
}

.icono-camion2{
   display: flex;
}
h3.pretitulo3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: min-content;
    margin-bottom: 10px;
    color: white;
}
h3.pretitulo4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 25vh;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

p.sitio{
    font-size: 16px;
    font-weight: 600;
    color: white;
}

ul.informacion{
    text-align: left;
    margin-left: 20px;
}

li.iguales{
    margin-left: 20px;
    font-size: 14px;
    color: white;
}

.icono1,
.icono2,
.icono3,
.icono4{
    font-size: 14px;
    color: white;
}

ul.todos-iguales{
    list-style-type: disc;
    list-style-type: square;
    margin-left: 30px;
    color: white;
    line-height: 20px;
}

a{
   text-decoration: none;
   color: white;
}
p.parrafo3{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.ultima-fila{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





















































