#wrapper{
    position: absolute;
    max-width: 957px;
    max-height: 3714px;
}
    div.fondo{
    position:  fixed;
    background-image: url(selectores/maqueta.png);
    background-repeat: no-repeat ;
    background-attachment: fixed;
    opacity: 30%;
    width: 957px;
    height: 3714px;
    z-index: -1;
}

/* titulo + display flex, que ajusta la separacion de las dos partes
del encabexado */
div.encabezado a{
    text-decoration: none;
}
div.encabezado h1{
    font-family: none;
    font-size: 31px;
    margin-top: 16px;
}
div.encabezado{
    margin-left: 46px;
    margin-top: 47px; 
    display: flex;
    justify-content: space-between;
}
/* Final del titulo + flex */

/* Borde radius + todo su contenido interior + h2 + ul */
div.documentacion{
    border-radius: 3%;
    border: solid 1px rgba(0, 0, 0, 0.401);
    padding: 10px 10px;
    margin-right: 10px;
    margin-left: 212px;
    margin-top: -35px;
}
div.documentacion h2{
    font-weight: 500;
    font-family: none;
    font-size: 28px;
    padding: 0px 0px 0px 0px;
}
div.documentacion p{
    font-style: italic;
    margin-bottom: -5px;
}
div.documentacion ul{
    list-style: none;
    padding: 0px 0px 2px 0px;
}
div.documentacion li{
    font-size: 15px;
    font-family: none;
}
div.documentacion img{
    margin-right: 5px;
}
/* Final del borde, final del encabezado */

/* Navegacion */
nav.navegacion h3{
    font-family: none;
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 4px;
    margin-left: 7px;
}
nav.navegacion ul{
    display: flex;
    justify-content: space-evenly;
}
nav.navegacion a{
    margin-right: 4px;
    margin-left: -19px;
    font-size: 15px;
    font-family: none;
    text-decoration: none;
}
/* Final de Navegacion */

/* Introduction principio */
