body {
    background: url(Torre-agbar-nit.jpg) no-repeat;
    background-size: cover;
}
#wrapper {
    max-width: 1840px;
    margin: -20px auto;
    padding: 5px;
    margin-left: 200px;
}

.encabezado {
    width: 245px;
    padding: 5px;
    margin: 5px;
}

.encabezado h1 {
    font-size: 30px;
    font-family: "Patrick Hand", cursive;
    margin: 0; 
}

h1.blanco {
    color: white;
    font-weight: lighter;
}

.naranja {
    color: orange;
}

.subtitulo {
    width: 400px;
    padding: 0px 10px;
}

p {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0;
}

/* Sistema de navegacion */

#navegacion{
    background-color: rgba(0, 0, 0, 0.4);
    width: 800px;
    padding: 1px 5px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 15px;
}
#navegacion ul{
    display: flex;
    justify-content: space-evenly;
    width: 775px;
    padding-inline-start: 2em;
    list-style: none;
}
li{
    margin-right: -140px;
}
nav#navegacion a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 1px 0px;
    font-family: "Dosis", sans-serif;
    font-weight: lighter;
}
/* final de sistema de navegacion */

/* Contenido izquierda */
.contenedor{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 810px;
    margin: 10px;
    display: flex;
}
h2{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0px 5px 0px;
}
.contenido-principal{
    margin-left: 25px;
    width: 520px;
    flex: 1;
}
.contenido-principal p{
    color: grey;
    font-size: 13px;
    font-family: "Patrick Hand", cursive;
    width: 514px;
}

/* Final del contenido */

/* Contenido Aside */

.aside{
   width: 300px;
   margin: 10px;
   float: right;
   flex: 1;
}
h3{
    margin-top: 45px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
    font-family: "Dosis", sans-serif;
    font-weight: lighter;
}

.lista01 p{
    color: orange;
    font-size: 12px;
    font-style: italic;
    width: 18em;
}
.lista01 a{
    margin-right: 25px;
    color: white;
    float: right;
    font-size: 17px;
    font-family: "Dosis", sans-serif;
    font-weight: lighter;
    font-style: italic;
}
.lista02 ul{
    margin-inline-start: -30px;
    list-style: none;
}

.lista02 li{
    color: white;
    line-height: 2em;
    text-decoration: none;
}

.lista02 a{
    color: white;
}