body{
  max-width: 100%;
  max-height: auto;
  font-family: verdana;
}
.parte1{
  display: flex;
}
.icono-principal{
  width: 100px;
  height: 124px;
}
.menu-desplegable{
  height: 3rem;
  width: 100%;
}
.flex-ae{
  background-color: rgb(218, 69, 0);
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: space-around; 
  align-items: center;
}
.flex-ae a{
  padding: 10px 15px;
}
/* .flex-ae a.hover{
  background-color: rgb(228, 102, 0);
  padding: 10px 10px;
} */
.titu1:hover,
.titu2:hover,
.titu3:hover,
.titu4:hover,
.titu5:hover{
  background-color: rgb(228, 102, 0);
  padding: 14px 14px;
}
.parte2{
  margin-top: -40px;
  bottom:182px;opacity:1;width:276px; 
  transition:1s left,1s width,1s opacity;
}
.ae1{
  text-align: justify;
  padding: 10px;
}
.img1{
  margin-top: -36px;
  /* transition: all 1s ease; -webkit-transition: all 1s ease; */
}
#Debian{
  display: flex;
  justify-content: space-around;
}
li:hover{
  background-color: rgb(228, 102, 0);
  padding: 7px 13px;
}
.caja1{ 
  border: 1px solid;
  margin-left: 7rem;
  margin-right: 1rem;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1px;
  padding: 1px; 
}
.titu1  #Debian{
  bottom:182px;opacity:1;width:276px; 
  transition:1s left,1s width,1s opacity;
}
ul li #Debian{
  bottom:0px;opacity:0;width:152px; 
  transition:1s left,1s width,1s opacity;
}