body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

@media (min-width: 1920px) 
{
    .contenedor {
        position: relative;
        display: inline-block;
        margin: 15px;
        bottom: 0px;
        left: 120px;
    }
}
@media (max-width: 1440px) 
{
    .contenedor {
        position: relative;
        display: inline-block;
        margin: 15px;
        bottom: 95px;
        left: 20px;
    }
}
@media (max-width: 1280px) 
{
    .contenedor {
        position: relative;
        display: inline-block;
        margin: 15px;
        bottom: 130px;
        left: -50px;
    }
}

.fondo{
    position: absolute;
    width: 100%;
    object-fit: cover;
    margin: 0;
}
/* Contenedor de previsualizar primer intento 
  .contenedor{
    position: relative;
    display: inline-block;
    margin: 15px;
    bottom: 100px;
} */

img.gato1{
    position: absolute;
    border: 1px solid white;
    width: auto;
    height: auto;
    top: 188px;
    left: 12rem;
    transform: translate(50%, 75%);
    display: block;
    animation: derecha 5s infinite;
}
@keyframes derecha{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(38rem);
    }
    100%{
        transform: translateX(0);
    }
}

img.gato2{
    position: absolute;
    border: 1px solid white;
    width: auto;
    height: auto;
    left: 50rem;
    top: 188px;
    transform: translate(200%, 75%);
    display: block;
    animation: abajo 5s infinite;
}
@keyframes abajo{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(312px);
    }
    100%{
        transform: translateY(0);
    }
}

img.gato3{
    position: absolute;
    border: 1px solid white;
    width: auto;    
    height: auto;
    left: 12rem;
    top: 500px;
    transform: translate(50%, 200%);
    display: block;
    animation: arriba 5s infinite;
}
@keyframes arriba{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-311px);    
    }
    100%{
        transform: translateY(0);
    }
}

img.gato4{
    position: absolute;
    border: 1px solid white;
    width: auto;
    height: auto;
    left: 798px;
    top: 500px;
    transform: translate(199%, 200%);
    display: block;
    animation: izquierda 5s infinite;
}
@keyframes izquierda {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-38rem);
    }
    100%{
        transform: translateX(0);
    }
}