body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

@media (min-width: 1920px) 
{
    .contenedor {
        position: relative;
        display: inline-block;
        margin: 15px;
        bottom: 0px;
        left: 120px;
    }
}
@media (max-width: 1440px) 
{
    .contenedor {
        position: relative;
        display: inline-block;
        margin: 15px;
        bottom: 98px;
        left: 20px;
    }
}
@media (max-width: 1280px) 
{
    .contenedor {
        position: relative;
        display: inline-block;
        margin: 15px;
        bottom: 130px;
        left: -50px;
    }
}

.fondo{
    position: absolute;
    width: 100%;
    object-fit: cover;
    margin: 0;
}

img.gato1{
    position: absolute;
    border: 1px solid white;
    width: auto;
    height: auto;
    top: 188px;
    left: 12rem;
    transform: translate(50%, 75%);
    display: block;
    animation: derecha-rotacion 4s linear 4s infinite;
}
@keyframes derecha-rotacion {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    50% {
        transform: translateX(38rem) rotate(180deg);
    }
    100% {
        transform: translateX(0) rotate(360deg);
    }
}
img.gato2{
    position: absolute;
    border: 1px solid white;
    width: auto;
    height: auto;
    left: 50rem;
    top: 188px;
    transform: translate(200%, 75%);
    display: block;
    animation: abajo-rotacion 4s linear 4s infinite;
}
@keyframes abajo-rotacion{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    50%{
        transform: translateY(312px) rotate(180deg);
    }
    100%{
        transform: translateY(0) rotate(360deg);
    }
}

img.gato3{
    position: absolute;
    border: 1px solid white;
    width: auto;    
    height: auto;
    left: 12rem;
    top: 500px;
    transform: translate(50%, 200%);
    display: block;
    animation: arriba-rotacion 4s linear 4s infinite;
}
@keyframes arriba-rotacion{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    50%{
        transform: translateY(-311px) rotate(180deg);    
    }
    100%{
        transform: translateY(0) rotate(360deg);
    }
}

img.gato4{
    position: absolute;
    border: 1px solid white;
    width: auto;
    height: auto;
    left: 798px;
    top: 500px;
    transform: translate(199%, 200%);
    display: block;
    animation: izquierda-rotacion 4s linear 4s infinite;
}
@keyframes izquierda-rotacion {
    0%{
        transform: translateX(0) rotate(0deg);
    }
    50%{
        transform: translateX(-38rem) rotate(180deg);
    }
    100%{
        transform: translateX(0) rotate(360deg);
    }
}