body{
    max-width: 1920px;
    height: auto;
}

#esquina{
    background-image: url(zapatillas/megasprite.png);
    background-repeat: no-repeat;
    width: 33vh;
    height: 24px;
    margin: 1px;
    padding: 0px;
    background-position: -50px 0px;
}

#bamba{
    background-image: url(zapatillas/G14822_F_B2CCat_1.jpg);
    background-repeat: no-repeat;
    width: 58vh;
    height: 57vh;
    margin: 30px 1px 1px 1px;
    padding: 1px;
    background-position: 4px -1px;
    display: flex;
}


.flexbox{
    display: flex;
    justify-content: start;
}
#titulo{
    margin-top: 20px;
    padding: 1px;

}
h1.linea0{
    width: 25rem;
    color: black;
    font-family: sans-serif;
    margin: 2px;
}
.adidas{
    background-image: url(zapatillas/megasprite.png);
    background-position: 252px -167px;
    width: 55px;
    height: 42px;
    padding: 1px;
    margin-left: 23rem;
    margin-top: -30px;
    position: absolute;
}
#rojo.cuadro1{
    margin-left: 2rem;
}
#rojo{
    background-image: url(zapatillas/megasprite.png);
    width: 256px;
    height: 13px;
    background-position: -8px -285px;
}
p.linea1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-left: 10px;
}
#cuadro2{
    width: 27rem;
    padding: 2px;
    margin: 1rem 1px 1px 1px;
    border: 1px solid;
}
p.linea2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-left: 22px;
  margin-bottom: -5px;
  padding: 16px 0 0 0;
}
/* .dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    background-color: black;
    padding: 1px;

}
.seleccionar{
    width: 30px;
    height: 16px;
    background-image: url(zapatillas/megasprite.png);
    background-position: -360px -25px;
}
.contenido{

}
.option1{
    background-image: url(zapatillas/megasprite.png);
    background-position: -360px -25px;
} */
.background-juntos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.background-juntos > div{
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  border: 1px solid grey;
}
.img1{
  background-image: url('zapatillas/img1.jpg');
  background-repeat: no-repeat;
}
.img2{
  background-image: url('zapatillas/img2.jpg');
  background-repeat: no-repeat;
}
.img3{
  background-image: url('zapatillas/img3.jpg');
  background-repeat: no-repeat;
}
.img4{
  background-image: url('zapatillas/img4.jpg');
  background-repeat: no-repeat;
}
.img5{
  background-image: url('zapatillas/img5.jpg');
  background-repeat: no-repeat;
}
p.linea3{
  font-family: sans-serif;
  color: blue;
}
.linea3.strong{
  color: black;
}
