body{
    max-width: 1920px;
    height: auto;
}

#esquina{
    background-image: url(zapatillas/megasprite.png);
    background-repeat: no-repeat;
    width: 33vh;
    height: 24px;
    margin: 1px;
    padding: 0px;
    background-position: -50px 0px;
}

#bamba{
    background-image: url(zapatillas/G14822_F_B2CCat_1.jpg);
    background-repeat: no-repeat;
    width: 58vh;
    height: 57vh;
    margin: 30px 1px 1px 1px;
    padding: 1px;
    background-position: 4px -1px;
    display: flex;
}


.flexbox{
    display: flex;
    justify-content: start;
}
#titulo{
    margin-top: 20px;
    padding: 1px;

}
h1.linea0{
    width: 25rem;
    color: black;
    font-family: sans-serif;
    margin: 2px;
}
.adidas{
    background-image: url(zapatillas/megasprite.png);
    background-position: 252px -167px;
    width: 55px;
    height: 42px;
    padding: 1px;
    margin-left: 23rem;
    margin-top: -30px;
    position: absolute;
}
#rojo.cuadro1{
    margin-left: 2rem;
}
#rojo{
    background-image: url(zapatillas/megasprite.png);
    width: 256px;
    height: 13px;
    background-position: -8px -285px;
}
p.linea1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-left: 10px;
}
#cuadro2{
    width: 27rem;
    padding: 2px;
    margin: 1rem 1px 1px 1px;
    border: 1px solid;
}
p.linea2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: -5px;
  padding: 16px 0 0 0;
}
.recuadro3{
  display: flex;
  justify-content: space-around;
}
#color.colorete{
  color: red;
  margin-top: 26px;
  margin-right: 194px;
}
.background-juntos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.background-juntos > div{
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  border: 1px solid grey;
}
.cuadro3{
  display: flex;
  justify-content: start;
  margin-left: 20px;
  margin-top: -26px;
}
p.linea3{
  font-family: sans-serif;
  color: black;
}
.linea3negro{
  color: blue;
}
.raya-larga{
  margin-left: 30px;
  width: 300px;
}
#vol.cajita1{
  width: 23rem;
}
.estrellitas-fila{
  display: flex;
  justify-content: space-evenly;
  width: 24rem;
  margin-bottom: 26px;
}
.estrellass{
  padding: 9px 1px 1px 17px;
  width: auto;
  height: 16px;
}
.valoracion,
.escriba{
  color: blue;
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.background-gris{
  background-color: grey;
  width: auto;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
.numero{
  font-size: 30px;
  margin-top: 15px;
  margin-left: 15px;
}
.botonsito{
  background-color: #6464ff;
  color: white;
  margin-top: 16px;
  margin-right: 10px;
  border-radius: 5rem;
  width: 8rem;
  height: 2rem; 
  padding: 3px 3px;
}
.compartir{
  color: blue;
  display: flex;
  justify-content: space-evenly;
  margin-right: 5rem;
  margin-top: 14px;
}

.compartir a{
  text-decoration: none;
  font-size: 14px;
}